
@{
    ViewBag.Title = "Bhukkad-AdminShowMe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminShowMe</h2>

<table style="width:100%;">

    <tr>
        <td style="font-family:'Arial Rounded MT'; font-size:30px; color:silver;text-align:left;">
            Show Me Page...
        </td>
    </tr>
</table>