
@{
    ViewBag.Title = "AdminUpdateBooking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%">
    <tr>
        <td style="font-family:'Arial RoundedMT';font-size:30px; color:silver;text-align:left;">
            Admin UpdateBooking PAge
            @Html.Partial("_BookingEditPV") @*==>	To call Partial View*@

        </td>
    </tr>
</table>

