
@{
    ViewBag.Title = "Bhukkad-AdminContactUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table style="width:100%;">

    <tr>
        <td style="font-family:'Arial Rounded MT'; font-size:30px; color:silver;text-align:left;">
            Contact Us Page...
        </td>
    </tr>
</table>
